{% extends 'base.html' %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}
{% if validlink %}
    <h1>Придумайте новый пароль!</h1>
    <form method="POST">
        <div class="w-full bg-white rounded-3xl px-10 py-8">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="w-full bg-white rounded-3xl px-10 py-8">
            <input type="submit" class="border-sm border-[black] p-2 rounded-xl" value="Изменить"/>
        </div>
    </form>
    {% else %}
    <p>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.</p>
    {% endif %}
{% endblock %}